:root {
  --primary-color: #0f0;
  --background-color: #000;
  --background-light-color: #111;
}

body, html {
 width: 100vw;
 min-width: 100vw;
 max-width: 100vw;

 overflow-x: hidden;
 overflow-y: auto;
 box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.row {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Courier New", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  touch-action: manipulation;
  width: 100%;
  gap: 1rem;
}

.stats {
  border: 1px solid var(--primary-color);
  padding: 8px;
  max-width: 800px;
  width: 100%;
}

.game-container {
  display: flex;
  gap: 0.5rem;
}

.dungeon-view {
  border: 2px solid var(--primary-color);
  /* padding: 8px; */
  background: var(--background-light-color);
}

.minimap {
  border: 1px solid var(--primary-color);
  /* padding: 8px; */
  background: var(--background-light-color);
  /* font-size: 1rem; */
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-end;
}

button {
  background: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 8px 16px;
  cursor: pointer;

  -webkit-user-select: none; /* For Safari */
  -ms-user-select: none;    /* For IE 10 and IE 11 */
  user-select: none;        /* Standard syntax */
}

button:hover {
  background: var(--primary-color);
  color: var(--background-color);
}

.message-log {
  border: 1px solid var(--primary-color);
  padding: 10px;
  height: 128px;
  max-width: 600px;
  width: 100%;
  overflow-y: auto;
  background: var(--background-light-color);
}

pre {
  margin: 0;
  line-height: 1;
}


@media screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }
  .game-container {
    /* flex-direction: column; */
    /* gap: 4px; */
  }
  button {
    padding: 2px 2px;
  }
}



@keyframes wiggle {
    0% { -webkit-transform: skewX(5deg); } 
    25% { -webkit-transform: skewX(-5deg); }
    50% { -webkit-transform: skewX(5deg); }
    75% { -webkit-transform: skewX(-10deg); }
    100% { -webkit-transform: skewX(0deg); }
}

.glitch {
  text-shadow: 0.1em 0.1em rgba(246, 0, 153,0.8),
             -0.1em -0.1em rgba(15, 210, 255,0.8),
             0.1em -0.1em rgba(255, 210, 0, 1);
  animation: wiggle 0.4s;
}


.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 columns, each taking 1 fraction of available space */
  grid-template-rows: repeat(3, 100px); /* Creates 3 rows, each 100px tall */
  gap: 0px; /* Adds space between grid items */
  border: 2px solid var(--primary-color);
}
.grid span {
  width: 0.8em;
  height: 0.8em;
}

.float {
  position: absolute;
  right: 0;
  top:0;
}

.float-left {
  position: absolute;
  left: 0;
  top:0;
}

input {
  padding: 2px 4px;
  max-width: 48px;
}